.drumkit-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  min-width: 600px;
  height: 600px;
}

.drumkit-title {
  width: 100%;
  font-size: 5rem;
  color: rgb(255, 243, 218);
  font-family: "Arvo", cursive;
  font-weight: bolder;
  text-align: center;
  text-shadow: 10px 0 #4d4a3d;
  margin: 0;
}

.drumkit-history {
  color: white;
  display: flex; 
  align-items: center; 
  text-align: left;
  width: 100%;
  height: 100px;
}

.drumkit-scoreBoard {
  background-image: url("../assets/images/drumKit/drumScoreBoard.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70px;
  height: 70px;
  min-width: 70px;
  padding: 10px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drumkit-scoreBoard-text {
  margin-top: 15px;
  font-size: 35px;
  color: black;
  font-weight: bolder;
  font-family: "Arvo", cursive;
}

.drumkit-history ul {
  list-style-type: none;
  padding: 0;
  display: flex; 
  align-items: center;
}

.drumkit-history ul li {
  text-align: center;
  margin: 0px 5px;
  padding: 5px 5px;
  font-family: "Arvo", cursive;
  font-weight: bold;
  font-size: 15px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.drum-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.drum-button {
  outline: none;
  border: 10px solid rgb(24, 23, 23);
  font-size: 3rem;
  font-family: "Arvo", cursive;
  font-weight: bolder;
  color: rgb(255, 243, 218);
  text-shadow: 3px 0 #4d4a3d;
  border-radius: 15px;
  width: 125px;
  height: 125px;
  text-align: center;
  margin: 5px;
  margin-top: 50px;
  background-color: rgb(228, 226, 226);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.drum-button:hover {
  background-color: rgb(255, 255, 255);
  border: 10px solid rgb(72, 78, 85);
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.w {
  background-image: url("../assets/images/drumKit/tomDrum.png");
}

.a {
  background-image: url("../assets/images/drumKit/tomDrum.png");
}

.s {
  background-image: url("../assets/images/drumKit/tomDrum2.png");
}

.d {
  background-image: url("../assets/images/drumKit/tomDrum2.png");
}

.j {
  background-image: url("../assets/images/drumKit/crash.png");
}

.k {
  background-image: url("../assets/images/drumKit/kick.png");
}

.l {
  background-image: url("../assets/images/drumKit/snare.png");
}