.card {
  background-color: rgb(0, 110, 153);
  border-radius: 10px;
  box-shadow: 0 0 0 10px rgb(243, 187, 65);
  border: 1px solid rgb(0, 110, 153);
  text-align: center;
  padding: 20px;
}

.card-header {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.card-text {
  font-size: 25px;
  color: white;
  padding: 25px;
}
