.game-card {
    width: 250px;
    background-color: rgb(255, 207, 105);
    border-radius: 10px;
    border: 5px solid #000;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    padding: 10px;
  }
  
  .game-card:hover {
    transform: translateY(-10px);
  }
  
  .game-card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .game-card__details {
    padding-left: 16px;
  }
  
  .game-card__title {
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .game-card__description {
    font-size: 18px;
    color: black;
    line-height: 1.4;
  }
  