.social-icon-img-size {
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.1s;
}

.social-icon__item {
  list-style: none;
}

.social-icon__link {
  margin: 0 20px;
  display: inline-block;
  transition: 0.1s;
}

.social-icon-img-size:hover {
  height: 65px;
  width: 65px;
}

@media (max-height: 600px), (max-width: 600px) {
  .social-icon-img-size {
    padding-top: 3px;
    height: 25px;
    width: 25px;
  }

  .social-icon-img-size:hover {
    height: 50px;
    width: 50px;
  }
}