.game-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
}

@media (min-width: 320px) and (max-width: 480px) {

  .game-card-list {
    margin-top: -5px;
  }
}