.navbar {
  background: rgb(255, 207, 105);
  position: fixed;
  top: 100px;
  width: 100%;
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 207, 105);
  display: flex;
  justify-content: center;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  color: rgb(38, 142, 184);
  text-align: center;
  padding: 5px 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  height: 35px;
  transition: 0.1s;
}

.navbar ul li a:hover {
  background-color: #333;
  color: rgb(255, 207, 105);
  font-size: 50px;
  margin-top: -18px;
  padding-bottom: 23px;
}

@media (max-height: 600px), (max-width: 700px) {
  .navbar {
    top: 60px;
  }

  .navbar ul li a {
    height: 25px;
    font-size: 18px;
  }

  .navbar ul li a:hover {
    font-size: 30px;
    margin-top: -8px;
    margin-bottom: -15px;
  }
}