.navbar {
  background: rgb(255, 207, 105);
  position: fixed;
  top: 100px;
  width: 100%;
  height: 25px;
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 207, 105);
  display: flex;
  justify-content: center;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  color: rgb(38, 142, 184);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

.navbar ul li a:hover {
  background-color: #333;
  color: rgb(255, 207, 105);
}
